#about {
	text-align: center;
	position: relative;
}

#about .vertically-center {
	width: 100%;
}

#about .content {
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	background: rgba( 255, 255, 255, 0.25 );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	margin: auto;
	padding: 50px;
	position: relative;
	width: 80%;
    max-width: 1254px;
}

#about h3 {
	font-size: clamp(18px, 2.5rem, 60px);
	font-family: "Arvo", serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px var(--aluminum);
}

#about .text-scramble-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto Mono", serif;
	font-size: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

#about h5 {
	font-size: 1em;
	color: #323232;
}

#personal-tags {
	display: flex;
	margin: 7vh 3vw 0 3vw;
	justify-content: center;
	border-radius: 50px;
	padding: 20px;
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
	box-shadow: inset 1px 1px 2px black;
	text-shadow: 1px 1px 1px white;
	position: relative;
	overflow: hidden;
}

#personal-tags .tag {
	margin: 0 10px;
}

#personal-tags .tag .fa-times-circle {
	margin-right: 5px;
}

.ripple {
	position: absolute;
	background-color: #537895;
	background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	animation: set-ripple 1s linear infinite;
	pointer-events: none;
}

#about .circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.circles li {
	position: absolute;
	bottom: -100vh;
	display: block;
	list-style: none;
	border-radius: 70%;
	position: relative;
	animation: drift-up 25s linear infinite;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	background-color: var(--cerulean);
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	background-color: var(--papaya);
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 30%;
	width: 20px;
	height: 20px;
	background-color: var(--yellow-green);
	animation-delay: 4s;
	animation-duration: 12s;
}

.circles li:nth-child(4) {
	left: 70%;
	width: 60px;
	height: 60px;
	background-color: var(--saffron);
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 55%;
	width: 20px;
	height: 20px;
	background-color: var(--agean);
	animation-delay: 0s;
	animation-duration: 10s;
}

.circles li:nth-child(6) {
	left: 85%;
	width: 80px;
	height: 80px;
	background-color: var(--tall-poppy);
	animation-delay: 1s;
	animation-duration: 11s;
}

.circles li:nth-child(7) {
	left: 80%;
	width: 110px;
	height: 110px;
	background-color: var(--magic-mint);
	animation-delay: 3s;
	animation-duration: 14s;
}

.circles li:nth-child(8) {
	left: 20%;
	width: 50px;
	height: 50px;
	background-color: var(--amber);
	animation-delay: 3s;
	animation-duration: 12s;
}

@keyframes drift-up {
	0% {
		transform: translateY(0) rotate(0deg);
	}

	100% {
		transform: translateY(-150vh) rotate(720deg);
	}
}

@keyframes set-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0.4;
	}

	100% {
		width: 800px;
		height: 800px;
		opacity: 0;
	}
}