@media screen and (min-width: 1281px) {
	#skills .grid-wrapper {
		grid-gap: 70px 100px;
	}
}

@media screen and (max-width: 1200px) {
	.modal h4 {
		font-size: 30px;
	}

	#projects img,
	#projects article .content {
		height: 420px;
	}
}

@media screen and (max-width: 1025px) {
	#profile-pic-pane {
		width: 35vw;
	}

	#profile-pic-pane img {
		padding: 20px;
	}

	#skills .grid-wrapper > div {
		padding: 50px 25px;
	}

	.modal .content {
		margin: 20px 0 0 0;
	}
}

@media screen and (max-width: 980px) {
	#projects img,
	#projects article .content {
		height: 440px;
	}

	#personal-tags {
		display: block;
		height: 60px;
		padding: 0 20px;
	}

	#personal-tags .tag {
		font-size: 22px;
		height: 60px;
		line-height: 60px;
	}

	#personal-tags .tag:first-child {
		animation: text-slideshow 12s infinite;
	}

	#personal-tags .tag .fa-times-circle {
		margin-right: 10px;
	}
}

@media screen and (max-width: 882px) {
	#home {
		flex-direction: column;
	}

	#profile-pic-pane {
		order: 1;
		width: 50vw;
		margin-top: calc(50px + 3vh);
	}

	#profile-pic-pane img {
		width: inherit;
	}

	#name-pane {
		order: 2;
		margin-bottom: calc(50px + 3vh);
	}

	#name {
		display: none;
	}

	h1 {
		display: block;
	}

	#name-pane .wrapper {
		text-align: center;
	}

	#skills .grid-wrapper {
		grid-template-columns: 1fr;
	}

	#skills .grid-wrapper > div {
		padding: 50px;
	}

	#projects img,
	#projects article .content {
		height: 390px;
	}

	#projects img {
		display: none;
	}

	#projects article > .content {
		width: 100%;
	}

	#about h3 {
		font-size: 36px
	}

	#about .text-scramble-container {
		font-size: 24px;
	}
}

@media screen and (max-width: 769px) {
	nav {
		font-size: 22px;
	}

	nav li {
		width: 100px;
	}

	#skills .grid-wrapper {
		grid-template-columns: 1fr;
	}

	.modal h4 {
		font-size: 32px;
	}

	.modal h5 {
		font-size: 18px;
	}

	.modal .header .fas {
		font-size: 24px;
	}
}

@media screen and (max-width: 700px) {
	.fa-bars {
		display: block;
	}

	.menu-button {
		display: block;
		float: right;
		margin-right: 5vw;
		width: 50px;
		height: 40px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 5px;
	}

	nav ul {
        background-image: radial-gradient(circle at 52% 84%, rgba(194, 194, 194,0.06) 0%, rgba(194, 194, 194,0.06) 18%,transparent 18%, transparent 100%),radial-gradient(circle at 38% 97%, rgba(239, 239, 239,0.06) 0%, rgba(239, 239, 239,0.06) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 86% 17%, rgba(210, 210, 210,0.06) 0%, rgba(210, 210, 210,0.06) 61%,transparent 61%, transparent 100%),radial-gradient(circle at 6% 48%, rgba(91, 91, 91,0.06) 0%, rgba(91, 91, 91,0.06) 27%,transparent 27%, transparent 100%),radial-gradient(circle at 27% 63%, rgba(86, 86, 86,0.06) 0%, rgba(86, 86, 86,0.06) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 2% 91%, rgba(182, 182, 182,0.06) 0%, rgba(182, 182, 182,0.06) 29%,transparent 29%, transparent 100%),linear-gradient(354deg, rgb(245,148,5),rgb(215,225,236));
        /* background-image: radial-gradient(circle at 52% 84%, rgba(194, 194, 194,0.06) 0%, rgba(194, 194, 194,0.06) 18%,transparent 18%, transparent 100%),radial-gradient(circle at 38% 97%, rgba(239, 239, 239,0.06) 0%, rgba(239, 239, 239,0.06) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 86% 17%, rgba(210, 210, 210,0.06) 0%, rgba(210, 210, 210,0.06) 61%,transparent 61%, transparent 100%),radial-gradient(circle at 6% 48%, rgba(91, 91, 91,0.06) 0%, rgba(91, 91, 91,0.06) 27%,transparent 27%, transparent 100%),radial-gradient(circle at 27% 63%, rgba(86, 86, 86,0.06) 0%, rgba(86, 86, 86,0.06) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 2% 91%, rgba(182, 182, 182,0.06) 0%, rgba(182, 182, 182,0.06) 29%,transparent 29%, transparent 100%),linear-gradient(90deg, rgb(203, 171, 120),rgb(215,225,236)); */
		border-style: inset hidden hidden hidden;
		height: calc(100vh - 50px);
		margin-right: 0;
		position: fixed;
		right: -100%;
		top: 50px;
		transition: all 0.5s;
		width: 100%;
	}

	nav ul li {
		display: block;
		width: 80%;
		margin: 7.5vh auto;
	}

	nav ul li a {
		border-radius: 	10px;
		color: black;
		font-size: 30px;
		font-weight: bold;
		transition: 0.5s;
		display: inline-block;
		width: 150px;
	}

	nav .border {
		display: none;
	}

	nav ul li a:hover {
		background-color: rgba(255, 255, 255, 0.4);
	}

	#check-menu:checked ~ ul {
		right: 0;
	}

	#skills .grid-wrapper {
		grid-template-columns: 1fr;
	}

	.modal .panel {
		padding-left: 10px;
	}

	#about h3 {
		font-size: 32px
	}

	#about .text-scramble-container {
		font-size: 20px;
	}

	#personal-tags .tag {
		font-size: 18px;
	}

	#social-buttons {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 600px) {
	h3 {
		font-size: 16px;
	}

	h4 {
		font-size: 14px;
	}

	#skills img {
		width: 50px;
	}

	#skills .grid-wrapper > div {
		padding: 35px;
	}

	#projects img,
	#projects article .content {
		height: 450px;
	}

	#projects h3 {
		font-size: 25px;
	}

	#projects article .content footer a {
		padding: 5px 18px;
	}

	#about .content {
		padding: 50px 30px;
	}

	#about .text-scramble-container {
		font-size: 18px;
	}

	#personal-tags {
		margin: 7vh 1vw 0 1vw;
		padding: 0 5px;
	}

	#personal-tags .tag .fa-times-circle {
		margin-right: 5px;
	}
}

/* Modal Default Mobile Size */
@media screen and (max-width: 540px) {
	.tingle-modal--overflow {
		padding-bottom: 0;
	}

	#about h4 {
		font-size: 20px;
	}
}

@media screen and (max-width: 481px) {
	#profile-pic-pane {
		width: 70vw;
	}

	#profile-pic-pane img {
		padding: 15px;
	}

	h1 {
		margin-top: 10px;
	}

	#skills .progress-line .tail,
	#skills .progress-line .bubble {
		display: none;
	}

	#projects article .content {
		height: 450px;
	}

	#projects .content h3 {
		font-size: 20px !important;
	}

	#projects article .content p {
		margin: 5px 0;
	}

	#projects article .content footer {
		flex-direction: column;
		align-content: center;
		align-items: center;
	}

	#projects article .content footer a:not(:first-of-type) {
		margin-left: 0;
	}

	#projects article .content footer {
		margin-top: 10px;
	}

	#projects article .content footer a {
		padding: 5px 20px;
		margin: 5px 0;
		font-size: 14px;
	}

	#about h3 {
		font-size: 22px;
	}

	#personal-tags .tag {
		font-size: 16px;
	}
}

@media screen and (max-width: 430px) {
	p:not(.description) {
		display: none;
	}

	#projects article .content footer a {
		font-size: 16px;
	}
}

@media screen and (max-width: 350px) {
	#projects article .content {
		height: 550px;
	}

	#projects h3 {
		font-size: 14px !important;
	}

	#projects article .content footer a {
		font-size: 14px;
	}

	#social-buttons {
		grid-template-columns: 1fr 1fr;
		position: static;
		top: unset;
		left: unset;
		transform: unset;
		justify-items: center;
	}
}

/* Galaxy Fold */
@media screen and (max-width: 281px) {
	#projects article .content {
		height: 600px;
	}

	.tingle-modal-box__content {
		padding: 0 0 10px 0;
	}
}

@media screen and (max-height: 575px) and (max-width: 700px) {
	nav ul li {
		margin: 6.5vh auto;
	}
}

@media screen and (max-height: 500px) and (max-width: 700px) {
	nav ul li {
		margin: 5.5vh auto;
	}

	nav ul li a {
		font-size: 25px;
	}
}

@media screen and (max-height: 450px) and (max-width: 700px) {
	nav ul li {
		margin: 3vh auto;
	}
}

@keyframes text-slideshow {
	0% {
		margin-top: 0;
	}

	16% {
		margin-top: -60px;
	}

	33% {
		margin-top: -120px;
	}

	50% {
		margin-top: -180px;
	}

	66% {
		margin-top: -120px;
	}

	82% {
		margin-top: -60px;
	}

	100% {
		margin-top: 0;
	}
}