#projects {
	background-color: #fdfbec;
	background-size: 40px 40px;
	background-image: 
		linear-gradient(to right, #fdf1a7 1px, transparent 1px), 
		linear-gradient(to bottom, #fdf1a7 1px, transparent 1px);
}

.owl-carousel {
	background-color: #fdfbec;
	border-radius: 5px;
	box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	width: 80%;
    max-width: 1254px;
}

#projects article {
	display: flex;
}

#wakuli {
    background-color: #68b0a5;
}

#svhq {
	background-color: #ebc94a;
}

#loan-system {
	background-color: #A9BCD0;
}

#book-seek {
	background-color: #E35856;
}

#public-bmms {
	background-color: #00a5ff;
}

#admin-bmms {
	background-color: var(--saffron);
}

#andrion {
	background-color: var(--yellow-green);
}

#dulao {
	background-color: #f04b9a;
}

#graphs {
	background-color: #FCC071;
}

#projects img,
#projects article .content {
	height: 390px;
}

#projects img {
	width: 45%;
	display: block;
}

#projects article .content {
	width: 55%;
	color: white;
	padding: 25px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#projects article .content * {
	color: white;
}

#projects article .content h3 {
	font-size: 28px;
	text-shadow: 1px 1px 2px var(--aluminum);
	text-align: center;
}

#projects article .content p {
	margin: 8px 0;
	text-align: center;
	font-weight: bold;
}

#projects article .content p b {
	color: var(--black-pearl);
}

#projects article .content p.description,
#projects article .content p.colleague,
#projects article .content p.highlight {
	font-style: italic;
}

#projects article .content p.colleague > a {
	text-decoration: underline;
}

#projects article .content footer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#projects article .content footer a {
	padding: 7px 25px;
	transition: 0.5s;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	display: inline-block;
	text-align: center;
}

#projects article .content footer a:not(:first-of-type) {
	margin-left: 10px;
}

#projects article .content footer a:hover {
	background-color: black;
	color: white;
}

.tingle-modal--overflow {
	padding-bottom: 8vh;
}

.modal .content {
	margin: 20px 50px 0 50px;
}

.modal h4 {
	font-size: 35px;
	color: white;
	padding: 15px;
	text-shadow: 1px 1px 2px var(--aluminum);
	text-align: center;
	font-weight: bold;
}

.modal .header {
	height: 55px;
	border-radius: 50px;
	margin: 10px;
	display: flex;
	align-items: center;
	transition: all 0.7s ease;
}

.modal h5 {
	font-size: 20px;
	display: inline-block;
	margin-right: 20px;
}

.modal .panel {
	padding-left: 20px;
	margin: 0 50px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}

.modal .panel ul {
	padding-left: 20px;
	text-align: justify;
}

.modal .header .fas {
	display: inline-block;
	margin: 0 20px;
	font-size: 28px;
}

.modal .header.active  {
	color: white;
}

#admin-bmms-modal h4,
#admin-bmms-modal .header.active {
	background-color: var(--saffron);
}

#admin-bmms-modal .header {
	border: 1px solid var(--saffron);
}

#admin-bmms-modal .panel {
	border-left: 1px solid var(--saffron);
}

#admin-bmms-modal .header.inactive .fas {
	color: var(--saffron);
}

#andrion-modal h4,
#andrion-modal .header.active {
	background-color: var(--yellow-green);
}

#andrion-modal .header {
	border: 1px solid var(--yellow-green);
}

#andrion-modal .panel {
	border-left: 1px solid var(--yellow-green);
}

#andrion-modal .header.inactive .fas {
	color: var(--yellow-green);
}